.header {
  margin: 0;
  padding: 0;
  height: 10em;
  background-position: center;
  background-size: cover;
  background-image: url("../images/DIRT2.jpg") ;
}
h1 {
  margin-top: 0;
  color: #B03D32;
}
nav ul li {
  display: inline-block;
  padding-right: 1em;
}
nav a {
  color: #277584;
}
